# Zagnieżdżone repozytoria (osobne projekty)
HackArena-Auth-Cli/
HackArena-Cli/
HackArena3.0-ApiWrapper-Python/
HackArena3.0-Backend/

# Plik systemowy Windows
nul

# Pliki tymczasowe / budowane
*.exe
__pycache__/
.vendor/
.env
